.box-1{
  width: 300px;
  height: 100px;
  border: green 3px solid;
  display: inline-block;
  margin:10px;
  flex: 50%;
}
.container{
  display:flex;
  flex-direction: row;
}

.box-1 h3, p{
  color: green;
  margin-left: 50px;
  
}

.box-2{
  width: 300px;
  height: 100px;
  border: blue 3px solid;
  display: inline-block;
  margin: 10px;
  flex: 50%;
}
.box-2 h3, p{
  color: blue;
  margin-left: 50px;
}